@import '../../styles.scss';

.body-main {
	width: 100vw;
   height: 100vh;
   background-color: $primary-background-color;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
   align-content: center;
   position: fixed;
}

.add-milestone-text {
   position: fixed;
   top: 10%;
}

.add-milestone-text>h2 {
   font-family: $font-family;
   color: $primary-text-color;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 23px;
   margin-top: 30px;
}

.input-box {
   height: $box-height;
   width: $box-width;
   background-color: $box-background-color;
   border-radius: 25px;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
   align-content: stretch;
   box-shadow: $larger-box-shadow;
   position: relative;
   top: 40px;
   overflow: auto;
}

.add-button-container {
   margin-bottom: 25px;
}

.add-menu-button {
   width: 70px;
   height: 25px;
   margin: 25px 10px 0 10px;
   border-radius: 25px;
   background-color: rgb(243, 243, 243);
   box-shadow: $box-shadow;
   font-family: $font-family;
   color: $primary-text-color;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-weight: bold;
   padding-left: 9px;
}

.upload {
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/* MEDIA QUERIES */

//iPhone X / 8 Plus / 8
@media (max-width: 415px) {
   .input-box {
      height: $box-height;
      width: 90vw;
      background-color: $box-background-color;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      box-shadow: $larger-box-shadow;
      position: relative;
      top: 40px;
   }

   .input-box {
      top: 40px;
   }
}