.background {
   position: relative;
}

.background>p {
   position: fixed;
   width: 546px;
   top: 26%;
   left: 24%;
   transform: translate(-50%, -50%);
   z-index: 11;
   font-family: 'Muli', sans-serif;
   font-size: 44px;
   font-weight: 200;
}