.card {
   width: 400px;
   height: 600px;
   background-color: rgba(168, 174, 177, 0.75);
   margin: 20px;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	border-radius: 25px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.image-container {
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	width: 90%;
	max-height: 380px;
	overflow: scroll;
}

.card-header {
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
   align-content: stretch;
}

.card-header>p {
   margin: 5px;
   text-align: center;
}

.img {
	width: 100%;
	height: auto;
	align-content: center;
}

.description-container {
	width: 90%;
   text-align: center;
}


/* MEDIA QUERIES */
@media(max-width: 1480px) {
	.card {
		width: 325px;
		height: 500px;
		margin: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		align-content: stretch;
	}
	
	.image-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		align-content: stretch;
		width: 90%;
		max-height: 380px;
		overflow: scroll;
	}
	
	.card-header {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
	}
	
	.card-header>p {
		margin: 5px;
		text-align: center;
	}
	
	.img {
		width: 100%;
		height: auto;
		align-content: center;
	}
	
	.description-container {
		width: 90%;
		text-align: center;
	}
}

@media(max-width: 1480px) {
	.card {
		width: 300px;
   	height: 400px;
		margin: 10px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		align-content: stretch;
	}
	
	.image-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		align-content: stretch;
		width: 90%;
		max-height: 240px;
		overflow: scroll;
	}
	
	.card-header {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
	}
	
	.card-header>p {
		margin: 5px;
		text-align: center;
	}
	
	.img {
		width: 100%;
		height: auto;
		align-content: center;
	}
	
	.description-container {
		width: 90%;
		text-align: center;
	}
}
