.card {
   width: 400px;
   height: 550px;
   background-color: rgb(53, 52, 52);
   margin: 20px;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	border-radius: 15px;
}

.card-header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	
}


.card-title {
	font-family: 'Muli', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #fdfdfd;
	font-size: 20px;
	letter-spacing: 0.65px;
	text-align: center;
	margin-bottom: 1px;
}

.card-text {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	color: #fdfdfd;
	font-size: 16px;
	text-align: center;
	margin: 0;
}

.image-container {
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	width: 92%;
	max-height: 390px;
	overflow: scroll;
}


.img {
	width: 100%;
	height: auto;
	align-content: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

.description-container {
	width: 90%;
	text-align: center;
	margin-top: 8px;
}

.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-between;
	position: relative;
	bottom: 5px;
}

.lower-button {
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
	color: #fdfdfd;
	font-size: 14px;
	margin-left: 59px;
	margin-right: 59px;
}

.lower-button:hover {
   color: teal; 
}

.static-modal {
	height: 100px;
	width: 100px;
	background-color: green;
}


/* MEDIA QUERIES */