@import '../../styles.scss';

/* BODY */
.dashboard {
	height: 100vh;
}

.body-main{
	width: 100vw;
	height: 100vh;
   background-color: #fbfbfb;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
   align-content: center;
   position: fixed;
}

.my-milestones {
   position: fixed;
	top: 10%;
	z-index: 1;

	h2 {
	font-family: $font-family;
   color: $primary-text-color;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 23px;
   margin-top: 55px;
	}
}


.add-input-container {
   display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
   align-content: stretch;
	position: fixed;
	top: 11.5%;
	right: 2%;
   z-index: 6;
}

.card-container {
   display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
   align-content: flex-start;
   overflow: scroll;
	padding-top: 15%;
	z-index: 5;
}

.no-milestones-text {
	font-family: $font-family;
	color: $primary-text-color;
	font-size: 20px;
}


/* MEDIA QUERIES */

/* iPad Size */
@media (max-width: 768px) {
	.icon {
		width: 36px;
   	margin-right: 5px;
	}
	.brand {
		letter-spacing: 2px;
		font-size: 24px;
	}
}

/* iPhone Size */
@media (max-width: 414px) {
	.icon {
		width: 30px;
		margin-right: 3px;
		margin-left: 19px;
	}
	.brand {
		font-size: 20px;
	}
}